{% extends 'posts/base.html' %}

{% block content %}
  <p>This is the home.html page with all the posts</p>

  {% if user.is_authenticated %}
    <div>
      <p>You are logged in as: {{ user.username }}</p>
      <p>You can create posts and comments!</p>
      {% if user.is_superuser %}
        <p>As an admin, you can also delete posts and comments!</p>
      {% endif %}
    </div>
  {% else %}
    <div>
      <p>Please log in to create posts and comments.</p>
    </div>
  {% endif %}

  {% if posts %}
  {% for post in posts %}
      <div class="post">
        <h3>Posts:</h3>
          <p>{{ post.content }}</p>
          <p>Posted by: {{ post.author }}</p>
          <p>Created at: {{ post.created_at }}</p>

          <div class="comments">
            <h5>Comments:</h5>
            {% for comment in post.comments.all %}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <p>Comment by: {{ comment.author }} at {{ comment.created_at }}</p>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
          </div>
      </div>
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
{% endblock %}
